:root {
    --blue: #00305E;
    --blue-mid: #369;
    --blue-light: #69C;
    --red: #E20020;
    --yellow: #FC0;
    --white: #fff;
    --gray: #DEDEDE;
    --gray-dark: #333;
}
.top-bar .controls-list .control-basket .toggle-basket-preview {
    background-color: #00305E;
    color: #fff;
}
