:root {
    --blue: #00305E;
    --blue-mid: #369;
    --blue-light: #69C;
    --red: #E20020;
    --yellow: #FC0;
    --white: #fff;
    --gray: #DEDEDE;
    --gray-dark: #333;
}
body {
  font-family: Roboto, Arial, sans-serif;
  color: #333;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
  background-color: #00305E;
  color: #fff;
}

.navbar {
  background-color: #00305E;
  color: #fff;
}

a:hover,
a:focus,
.basicColor a:hover,
.basicColor a:focus,
.btn.btn-link:hover,
.btn.btn-link:focus,
.back-blue a:hover,
.back-blue a:focus,
.back-white a:hover,
.back-white a:focus,
.back-grey a:hover,
.back-grey a:focus,
.breadcrumbs a:hover,
.breadcrumbs a:focus{
  color: #E20020;
  text-decoration: none;
}
.back-blue{
  background-color: #00305E;
  color:#FFF;
}
.back-blue a{
  color:#FFF;
}
.back-white{
  background-color: #FFF;
  color:#333;
}
.back-white a{
  color:#00305E;
}
.back-grey{
  background-color: #DEDEDE;
  color:#333;
}
.back-grey a{
  color:#00305E;
}
.back-darkgrey{
  background-color: #333;
}
