:root {
    --blue: #00305E;
    --blue-mid: #369;
    --blue-light: #69C;
    --red: #E20020;
    --yellow: #FC0;
    --white: #fff;
    --gray: #DEDEDE;
    --gray-dark: #333;
}
body {
  font-family: Roboto, Arial, sans-serif;
  color: #333;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
  background-color: #00305E;
  color: #fff;
}

.navbar {
  background-color: #00305E;
  color: #fff;
}

.btn-link,
a{
  color:#00305E;
  font-weight:600;
  text-decoration:none
}

a:hover,
a:focus,
.basicColor a:hover,
.basicColor a:focus,
.btn.btn-link:hover,
.btn.btn-link:focus,
.back-blue a:hover,
.back-blue a:focus,
.back-white a:hover,
.back-white a:focus,
.back-grey a:hover,
.back-grey a:focus,
.breadcrumbs a:hover,
.breadcrumbs a:focus{
  color: #E20020;
  text-decoration: none;
}
.back-blue{
  background-color: #00305E;
  color:#FFF;
}
.back-blue a{
  color:#FFF;
}
.back-white{
  background-color: #FFF;
  color:#333;
}
.back-white a{
  color:#00305E;
}
.back-grey{
  background-color: #DEDEDE;
  color:#333;
}
.back-grey a{
  color:#00305E;
}
.back-darkgrey{
  background-color: #333;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    content: " ";
    display: table;
}

.left {
  text-align: left;
}
.justify {
  text-align: justify;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.image-list {
	list-style: none;
	padding: 0;
	text-align: center;
}
.image-list > li {
	display: inline-block;
	margin: 2px 12px;
	vertical-align: middle;
}
/* footer */
.footer {
	color:#333;
}
.footer a{
	color:#333;
  font-weight: 400;
}
.footer a:hover,
.footer a:focus {
	color:#E20020 !important;
}
.footer strong {
	font-weight: normal;
	text-transform: uppercase;
	color: #444;
	text-rendering: optimizelegibility;
}
.footer hr {
	margin: 10px 0;
}
/* button */
.btn,
.PlentyWebshopButton,
.PlentySubmitButton,
.LiveSearchShowMoreArticleHint input[type="button"],
.PostfinderTriggerTextLabel,
.PlentyWebMyAccount .button,
.PlentyWebMyAccount .inlineSubmitButton,
.PlentyWebMyAccount .button,
.PlentyWebMyAccount .inlineSubmitButton,
.PlentyWebMyAccount input[type="button"] {
	display: inline-block;
	*display: inline;
	height: 40px;
	width:100%;
	padding: 6px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	font-weight: 400;
	line-height: 2.2;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.PlentyWebshopButton:focus,
.PlentySubmitButton:focus,
.LiveSearchShowMoreArticleHint input[type="button"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.PlentyWebshopButton:hover,
.PlentyWebshopButton:focus,
.PlentySubmitButton:hover,
.PlentySubmitButton:focus,
.LiveSearchShowMoreArticleHint input[type="button"]:hover,
.LiveSearchShowMoreArticleHint input[type="button"]:focus,
.PostfinderTriggerTextLabel:hover,
.PostfinderTriggerTextLabel:focus,
.PlentyWebMyAccount .button:hover,
.PlentyWebMyAccount .button:focus,
.PlentyWebMyAccount .inlineSubmitButton:hover,
.PlentyWebMyAccount .inlineSubmitButton:focus,
.PlentyWebMyAccount .button:hover,
.PlentyWebMyAccount .button:focus,
.PlentyWebMyAccount .inlineSubmitButton:hover,
.PlentyWebMyAccount .inlineSubmitButton:focus,
.PlentyWebMyAccount input[type="button"]:hover,
.PlentyWebMyAccount input[type="button"]:focus {
	text-decoration: none;
}
.btn:active,
.btn.active,
.PlentyWebshopButton:active,
.PlentySubmitButton:active,
.LiveSearchShowMoreArticleHint input[type="button"]:active,
.PostfinderTriggerTextLabel:active,
.PlentyWebMyAccount .button:active,
.PlentyWebMyAccount .inlineSubmitButton:active,
.PlentyWebMyAccount .button:active,
.PlentyWebMyAccount .inlineSubmitButton:active,
.PlentyWebMyAccount input[type="button"]:active {
	outline: 0;
}
.btn.disabled,
.btn[disabled],
.PlentyWebshopButton.disabled,
.PlentyWebshopButton[disabled],
.toBasketWrapper.disabled > a,
.disabled > button {
	cursor: not-allowed;
	pointer-events: none;
	-khtml-opacity: 0.65;
	  -moz-opacity: 0.65;
	       opacity: 0.65;
	filter: alpha(opacity=65);
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
}
/* button types */
.btn-default,
.btn-warning {
	background-color:#00305E;
	color: #fff !important;
}
.btn-social{
	float:left;
	padding: 10px 0;
	height:60px;
	width:60px;
	margin:5px;
}
.btn-social > .fa {
    float: none;
}
.btn-facebook{
	background-color:#3B5998;
	color: #fff !important;
}
.btn-twitter{
	background-color:#55ACEE;
	color: #fff !important;
}
.btn-googleplus{
	background-color:#DC4E41;
	color: #fff !important;
}
.btn-pinterest{
	background-color:#BD081C;
	color: #fff !important;
}
.btn-youtube{
	background-color:#CD201F;
	color: #fff !important;
}
.btn-blog{
	background-color:#E20020;
	color: #fff !important;
	font-size: 24px;
	line-height:1.8em;
}
.btn-instagram{
  background-color:#cc3366;
  color:#fff!important
}
.btn-social:hover{
	background-color:#69C;
	color:#fff !important;
}
.link-facebook{
	color:#3B5998;
}
.link-twitter{
	color:#55ACEE;
}
.link-googleplus{
	color:#DC4E41;
}
.link-pinterest{
	color:#BD081C;
}
.btn-primary,
.liveSearch input[type="button"],
.btn-success,
.btn-info,
.btn-danger,
.PlentyWebshopButton,
.PlentySubmitButton,
.LiveSearchShowMoreArticleHint input[type="button"],
.PlentyWebMyAccount .button,
.PlentyWebMyAccount .inlineSubmitButton,
.PlentyWebMyAccount .button,
.PlentyWebMyAccount .inlineSubmitButton,
.PlentyWebMyAccount input[type="button"] {
	color: #fff!important;
	background-color: #E20020;
}
.btn-primary:hover, .liveSearch input[type="button"]:hover,
.btn-primary:focus, .liveSearch input[type="button"]:focus,
.btn-primary.focus, .liveSearch input[type="button"].focus,
.btn-primary:active, .liveSearch input[type="button"]:active,
.btn-primary.active, .liveSearch input[type="button"].active,
.open > .dropdown-toggle.btn-primary {
  color: #fff!important;
  background-color: #369;
  outline: none;
}
.btn-default { background-color: #00305E; }
.PlentyWebshopButton,
.PlentySubmitButton,
.LiveSearchShowMoreArticleHint input[type="button"],
.PlentyWebMyAccount .button,
.PlentyWebMyAccount .inlineSubmitButton,
.PlentyWebMyAccount .button,
.PlentyWebMyAccount .inlineSubmitButton,
.PlentyWebMyAccount input[type="button"] { background-color: #00305E; }
.btn-success { background-color: #3b0; }
.btn-info { background-color: #999; }
.btn-warning { background-color: #fc3; }
.btn-danger { background-color: #f11; }
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
	background-color:#E20020;
	color: #FFF !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
a.PlentyWebshopButton:hover,
a.PlentyWebshopButton:focus,
.PlentySubmitButton:hover,
.PlentySubmitButton:focus,
.LiveSearchShowMoreArticleHint input[type="button"]:hover,
.LiveSearchShowMoreArticleHint input[type="button"]:focus {
	color: #fff;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
	border: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
hr,
.hr {
	display: block;
	margin-top: 12px;
	margin-bottom: 12px;
	border: none;
	height: 1px;
	background: #ddd;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h3 {
  margin: 12px 0;
  font-family: inherit;
  font-weight: 400;
  line-height: 24px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #333;
}
h1,
.h1{
  font-size: 36px;
  line-height: 48px;
}
@media (max-width: 767px){
	h1,
	.h1{
	    font-size: 24px;
  		line-height: 36px;
	}
}
h2,
.h2{
  font-size: 24px;
  line-height: 36px;
}
h3,
.h3{
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5{
	font-size: 14px;
	font-weight: bold;
}
h6,
.h6{
	font-size: 12px;
	font-weight: bold;
}
h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.payment_img{
	float:left;
	width:150px;
	height:58px;
}
.payment_paypal {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_paypal.png");
}
.payment_paypal:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_paypal_hover.png");
}
.payment_sofort {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_sofort.png");
}
.payment_sofort:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_sofort_hover.png");
}
.payment_credit{
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_kredit.png");
}
.payment_credit:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_kredit_hover.png");
}
.payment_purchase {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_rechnung.png");
}
.payment_purchase:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_rechnung_hover.png");
}
.payment_amazon {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_amazon.png");
}
.payment_amazon:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_amazon_hover.png");
}
.payment_bank {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_bank.png");
}
.payment_bank:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_bank_hover.png");
}
.payment_bank_en {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_bank_en.png");
}
.payment_bank_en:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_bank_en_hover.png");
}
.payment_bank_fr {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_bank_fr.png");
}
.payment_bank_fr:hover {
    background-image: url("https://bilder.denqbar.com/frontend/DENQBAR_Layout/payment/payment_bank_fr_hover.png");
}
